language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
install:
  - pip install pytest
  - pip install pycodestyle
script:
  - PYTHONPATH=. pycodestyle --config=./pycodestyle_config .
  - PYTHONPATH=. pytest  -v tests/tests.py
